@{
	ViewData["Title"] = "SignIn";
}
@model SignInViewModel

<section class="vh-100">
	<div class="container py-5 h-100">
		<div class="row d-flex align-items-center justify-content-center h-100">
			<div class="col-md-8 col-lg-7 col-xl-6">
				<img src="https://t4.ftcdn.net/jpg/09/14/71/55/360_F_914715547_quizWhukKnflX0ZnuPehZxbp5JFkUAE6.jpg"
					 class="img-fluid custom-img" alt="Phone image">
			</div>

			<div class="col-md-10 col-lg-5 col-xl-5 offset-xl-1">
				<h2 class="text-uppercase text-center mb-5">Sign In account</h2>
				<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-white rounded"></div>
				<form method="post">
					<!-- Email input -->
					<div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label"  asp-for="Email"></label>
						<input asp-for="Email"  class="form-control form-control-lg"/>
						<span class="text-danger" asp-validation-for="Email"></span>
					</div>


					<!-- Password input -->
					<div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label"  asp-for="Password"></label>
						<input asp-for="Password"  class="form-control form-control-lg"/>
						<span class="text-danger" asp-validation-for="Password"></span>
					</div>

					<div class="d-flex justify-content-around align-items-center mb-4">
						<!-- Checkbox -->
						<div class="form-check">
							<input class="form-check-input"  asp-for="RememberMe" checked />
							<label class="form-check-label" asp-for="RememberMe" for="form1Example3"> Remember me </label>
						</div>
						<a href="#!">Forgot password?</a>
					</div>

					<!-- Submit button -->
					<button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">Sign in</button>

				</form>
			</div>
		</div>
	</div>
</section>

<style>
	/* Sayfanın tüm arka planını değiştirmek için */
	html, body {
		height: 100%; /* Sayfanın tamamını kapsayacak şekilde */
		background-color: #0d030c;
		color:white/* Buraya istediğiniz arka plan rengini yazabilirsiniz */
	}

	/* Arka planı değiştirmek için section'daki alan */
	.vh-100 {
		background-color: #0d030c; /* Burada section'ın rengini de değiştirebilirsiniz */
	}

	.custom-img {
		width: 100%;
		height: auto;
	}
</style>
